.SignUpRoute {
    height: 100vh;
    background-color: #FF879B;
    display: flex;
    justify-content: center;
}

.passwordrules {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.signup_form {
    min-width: 40%;
    max-width: 80%;
    min-height: 180px;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #73D2FA;
}