.landing {
    height: 100%;
    display: flex;
    justify-content: center;
}

.landing_section {
    min-width: 280px;
    max-width: 300px;
    min-height: 280px;
    max-height: 320px;
    padding: 10px 10px;
    background-color: #3F51B5;
}

.placeholder {
    height: 180px;
    width: 180px;
    border: 2px solid black;
    background-color: black;
    color: white;
}

.left {
    float: left;
  }
  
.right {
    float: right;
}
  
.signupsection {
    max-height: 100px;
    min-height: 80px;
    min-width: 280px;
    max-width: 300px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #303F9F;
}

.landing_paragraph {
    margin: 0 auto;
    max-width: 650px;
}

button:hover {
    cursor: pointer;
}