.landing {
    height: 100%;
    display: flex;
    justify-content: center;
}

.landing_section {
    min-width: 280px;
    max-width: 300px;
    min-height: 280px;
    max-height: 320px;
    padding: 10px 10px;
    background-color: #3F51B5;
    border: 1px solid #BDBDBD;
}

.landing_section:nth-of-type(even) {
    background-color: #303F9F;
}

.screenshot {
    margin: 2px;
    height: 182px;
    width: 180px;
    border: 1px solid #BDBDBD;
}

.screenshot-wide {
    margin: 2px;
    height: 182px;
    width: 190px;
    border: 1px solid #BDBDBD;
}

.odd {
    margin-right: 8px;
}

.left {
    float: left;
  }
  
.right {
    float: right;
}
  
.signupsection {
    max-height: 100px;
    min-height: 80px;
    min-width: 280px;
    max-width: 300px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    background-color: #3F51B5;
}

.signupa {
    align-self: center;
    max-width: 64px;
}

.landing_paragraph {
    margin: 0 auto;
    padding-left: 2px;
    padding-right: 2px;
    max-width: 650px;
}

button:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .landing_section {
        min-width: 520px;
        min-height: 340px;
        margin-bottom: 15px;
        box-shadow: 5px 8px 8px #212121;
    }

    h3 {
        text-shadow: 5px 8px 8px #212121;
    }

    .landing_paragraph {
        margin: 4px;
    }

    .screenshot {
        margin: 4px;
    }

    .odd {
        margin-right: 8px;
    }

    .signupsection {
        min-width: 520px;
        min-height: 100px;
        margin-bottom: 10px;
        box-shadow: 5px 8px 8px #212121;
        border: 1px solid #BDBDBD;
    }

    .signupa {
        min-height: 40px;
        min-width: 80px;
        max-height: 50px;
        margin-bottom: 8px;
    }
    
    .screenshot {
        box-shadow: 5px 8px 8px #212121;
    }

    .screenshot-wide {
        box-shadow: 5px 8px 8px #212121;
        width: 190px;
    }
}