.GameRoute {
    height: 100vh;
    background-color: #FF879B;
}

.game {
    background-color: #73D2FA;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.currentnumber {
    margin: auto;
}

.ticker {
    margin: auto;
}

.countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.display {
    margin: auto;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    background: #1D86B3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
}

.bignumber {
    color: #FFFBA1;
    margin: auto;
    font-size: 100px;
}

.wagerform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.wager {
    margin-left: auto;
    margin-right: auto;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.hidden {
    display: none;
}

.modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

#pointwager {
    margin-left: 8px;
    margin-right: 8px;
}

.invalid {
    border: 2px dashed red;
}

#comparison {
    margin-left: 8px;
    margin-right: 8px;
}

.wagerbuttons {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8px;
}

.setwager {
    height: 40px;
    width: 60px;
}

.resetwager {
    height: 40px;
    width: 60px;
}