.AccountRoute {
  height: 100%;
}

.userinfo {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 280px;
  min-height: 180px;
  max-height: 300px;
  background-color: #3F51B5;
  box-shadow: 5px 8px 8px #212121;
}

.userp, .pointsp {
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.userspan, .pointsspan {
  font-weight: normal;
}

.userbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.delete, .topup {
  height: 40px;
  width: 60px;
}

.confirm {
    color: #aaaaaa;
    font-size: 18px;
    margin-right: 10%;
  }
  
  .confirm:hover,
  .confirm:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .canceltopup {
    color: #aaaaaa;
    font-size: 18px;
    margin-left: 10%;
  }

  .canceltopup:hover,
  .canceltopup:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .canceldelete {
    color: #aaaaaa;
    font-size: 18px;
    margin-left: 10%;
  }

  .canceldelete:hover,
  .canceldelete:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }