nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background: #1D86B3;
}

.homelink {
    color: #FFFBA1;
}

.tagline {
    color: #FFFBA1;
}

img {
    height: 64px;
    width: 64px;
}

.buttonscontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 70px;
    min-height: 200px;
}

.notloggedin {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loggedin {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loginlink .signuplink {
    max-height: 30px;
    max-width: 70px;
}

.gamelink .accountlink .logoutlink {
    max-height: 30px;
    max-width: 70px;
}

.navbutton {
    min-height: 30px;
    min-width: 70px;
    max-height: 50px;
    margin: 8px;
}

.navbutton:hover {
    cursor: pointer;
}