nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    top: 0;
    width: 100%;
    background: #303F9F;
    border-bottom: 1px solid #BDBDBD;
}

.hide {
    display: none;
}

.home {
    padding-left: 8px;
}

.homelink {
    color: #FFFFFF;
}

h1 {
    position: fixed;
}

.tagline {
    color: #FFFFFF;
}

img {
    height: 64px;
    width: 64px;
}

img:hover {
    cursor: pointer;
}

.buttonscontainer {
    flex-direction: column;
    justify-content: center;
    min-width: 70px;
    min-height: 140px;
    background-color: #303F9F;
}

.notloggedin {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loggedin {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loginlink .signuplink {
    max-height: 30px;
    max-width: 70px;
}

.gamelink .accountlink .logoutlink {
    max-height: 30px;
    max-width: 70px;
}

.navbutton {
    min-height: 30px;
    min-width: 70px;
    max-height: 50px;
    margin: 8px;
}

.navbutton:hover {
    cursor: pointer;
}

.xicon {
    padding-left: 10px;
}

.signuplink {
    align-content: center;
    max-width: 64px;
}

@media screen and (min-width: 768px) {
    nav {
        height: 80px;
    }

    .hide {
        display: initial;
    }

    .xicon, .burgericon {
        display: none;
    }

    .buttonscontainer {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        min-height: 80px;
        max-height: 80px;
        width: 300px;
    }

    .notloggedin, .loggedin {
        margin: auto;
        min-width: 200px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .navbutton {
        min-height: 40px;
        min-width: 80px;
        max-height: 60px;
    }
}