.LoginRoute {
    height: 100vh;
    margin-top: 50px;
    background-color: #FF879B;
    display: flex;
    justify-content: center;
}

.loginh {
    min-width: 120px;
    padding-left: 4px;
    margin-bottom: auto;
}

.loginform {
    min-width: 200px;
    min-height: 180px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #73D2FA;
}

.user_name {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login_user_name {
    min-width: 100px;
    max-width: 200px;
}

#login_password {
    min-width: 100px;
    max-width: 200px;
}

#login_submit {
    margin: auto;
    max-height: 30px;
    max-width: 70px;
}

.password {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}