.LoginRoute {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginh {
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px #212121;
}

.loginform {
    min-width: 200px;
    max-width: 280px;
    min-height: 180px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #3F51B5;
    box-shadow: 5px 8px 8px #212121;
}

.user_name {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login_user_name {
    min-width: 100px;
    max-width: 200px;
}

#login_password {
    min-width: 100px;
    max-width: 200px;
}

#login_submit {
    margin: auto;
    max-height: 30px;
    max-width: 70px;
}

.password {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}