body * {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main {
    padding-top: 60px;
}

.Button {
    border-radius: 8px;
    background-color: #FFFBA1;
    transition-duration: 0.3s;
}

.Button:hover {
    color: #FFFBA1;
    background-color: #B34D5D;
}