.Button {
    border-radius: 8px;
    color: #212121;
    background-color: #009688;
    transition-duration: 0.3s;
}

.Button:hover {
    color: #009688;
    background-color: #212121;
}

.Input {
    box-shadow: 5px 8px 8px #212121;
}

select {
    box-shadow: 5px 8px 8px #212121;
}